*{
    text-align:center;
    margin:0;
    padding:0;
}
.parent{
    background-color:green;
    min-height:100px;
    padding:2px;
    display:flex;
}
.example1{
justify-content:space-between;
    align-items:center;
}
.child{
    min-height:50px;
    min-width:50px;
}
.red{
background-color:red;
}
.yellow{
background-color:yellow;
}
.mainbox{
    background-color:yellow;
    order:2;
    flex:3;
}
.aside1{
    background-color:lightblue;
    order:3;
    flex:1;
}
.aside2{
    background-color:pink;
    order:1;
    flex:1;
}
.example2{
    align-items:stretch;
}
.example3 .child{
    flex:1;
}
.purple{
    background-color:purple;
}
.orange{
    background-color:orange;
}
.example4{
flex-direction:column;
    justify-content:space-evenly;
    min-height:400px;
}
.row{
    border:solid blue;
    min-height:40px;
    display:flex;
    min-width:40px;
}
.blue{
    background-color:blue;
    min-height:27px;
    width:20%;
}
.cyan{
    background-color:cyan;
    min-height:27px;
    width:80%;
}
.example5{
flex-direction:column;
    min-height:480px;
    justify-content:space-evenly
}
.five{
background-color:yellow;
    flex-direction:row;
    height:80px;
}
.stripes{
    border:solid blue;
    flex-direction:row;
    height:320px;
    display:flex;
    margin:10px;
}
.column{
    background-color:blue;
    min-height:280px;
    min-width:300px;
    margin:30px;
}